

<main class="wrapper">

    <% if articles.exists?%>
      <section class="hero">
  <div class=" hero hero__bg-img " style="background-image: url(<%= rails_blob_path(articles.first.image) %>);">
    <h1><%= hero_text%></h1>

    <article>
      <p><%= split_article_content(articles.first.content)%></p>
      <a href="#">Browse </a>
    </article>
  </div>
  </section>
<% else%>
  <section class="d-flex align-items-center justify-content-center" style="height: 80vh;" >
    <h2 style="font-weight: 1000; font-size: 60px;" >No Result at the moment!</h2>
  </section>
<% end %>
  <section class="category-wrapper">

    <% articles.uniq[0..5].each do |article|%>
      <%= link_to articles_path(article), class: "category__item " do %>

      <div class="" style="background-image: url(<%= rails_blob_path(article.image) %>);">
      </div>

      <div class="latest-articles__content">
        <div class="category__item-head">
          <h1 style='border-bottom: 4px solid  <%= category_name_border_color(article.categories.first.name)%>'><%= article.categories.first.name %></h1>
        </div>
        <h2 class="category__item-title"> <%=article.title%></h2>
        <%# <p class="category__item-desc"><%= article.content%></p> %>

      </div>

      </div>
    <%end%>
    <%end%>

  </section>

  <section class="sectin-wrapper">
    <h2 class="more-articles__head"></h2>

  </section>
</main>
<footer>
  <p>&copy; 2019. Made with ❤ and CSS Grid.</p>
</footer>
