<section class="section-wrapper">
  <h2 class="more-articles__header">More from this topic</h2>
  <div class="more-articles">
    <% if  content_nil?(articles) %>
      <h2 style="font-weight: 1000; font-size: 14px; text-align: center">No Result at the moment!</h2>
    <%else%>
      <% slice_articles(articles, 0, -1).each do |article|%>
        <div class="more-articles__item">
          <div class="more-articles__img-wrapper">
          <div class="more-articles__img" style="background-image: url(<%= rails_blob_path(article.image) %>);">
          </div>
          </div>
          <div class="more-articles__content">
            <%= map_links(article.categories.first.name) unless content_empty(article.categories) %>
            <h3 class="more-articles__title"><%= article.title%></h3>
            <p><%= split_article_content(article.content)%></p>
            <div class="more-articles__user-duration">
              <span><%=link_to  article.user.first_name + ' ' + article.user.last_name, user_homepage_path(article.user) %></span>
              <span><%= duration(article.content)%> min read </span>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</section>
